.loginButton {
    float: right;
}

.pictureDiv {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.headerDiv {
    text-align: center;
}

.figure {
    height: auto;
    width: 25%;
    display: inline-block;
    margin: auto;
    text-align: center;
    overflow: auto;
}
